
.backdrop {
    background: rbga(0, 0, 0, 0.8);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
.popup {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5;
    box-sizing: border-box;
    min-height: 200px;
    padding: 20px;
    position: relative;
    min-width: 300px;
    color: #000000;
}
.popupContainer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}
