.label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label label {
    background: rgba(0, 0, 0, 0.6);
    padding: 100px;
    font-size: 2em;
    border-radius: 2px;
    cursor: pointer;
}

.hoverable {
    opacity: 0.8;
    transition-duration: 500ms;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}

.hoverable:hover {
    opacity: 1;
}